.addbtn{
  margin-top: 30px !important;
}
.date{
  font-weight: 700;
  color: blue !important;
}
.link{
color: #fff;
}
a{
  text-decoration: none !important;
}
.h1{
  padding: 20px;
  color: rgb(3, 157, 222);
}
.money{
  color: rgb(15, 179, 15) !important;
  font-weight: 700;
}